<!-- <div class="animated fadeIn d-flex justify-content-center"> -->
<div class="animated fadeIn d-flex main-container">

    <!-- <div class="row">
        <div class="card col-8" style="margin-bottom: 20px;">
            <div class="card-body" style="background-color: whitesmoke;">>
                <canvas baseChart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [colors]="barChartColors"
                        [legend]="barChartLegend"
                        [chartType]="barChartType">                
                </canvas>
            </div>
            <div class="card-footer text-muted">
                adsfasdf
            </div>
        </div>
    
        <div class="card col-4">
            <div class="card-body">
                <div class="d-flex justify-content-center col">
                    <h5 style="color: blanchedalmond;">Comenzar a calcular:</h5>
                </div>
                <div class="row row-cols-2">
                    <div class="d-flex justify-content-end col">
                        <button class="btn btn-success col-7" [routerLink]="['/distri']">Distribuciones</button>
                    </div>
                    <div class="d-flex justify-content-start col">
                        <button class="btn btn-primary col-7" [routerLink]="['/colas']">Colas</button>
                    </div>
                </div>
            </div>
        </div>
    </div>  -->

    <div class="jumbotron col-12">
        <h1 class="display-4 text-center">Comenzar a calcular</h1>
        <hr class="my-4">
        <div class="row row-cols-2">
            <div class="d-flex justify-content-end col">
                <button class="btn btn-success btn-lg col-7" [routerLink]="['/distri']">Distribuciones</button>
            </div>
            <div class="d-flex justify-content-start col">
                <button class="btn btn-primary btn-lg col-7" [routerLink]="['/colas']">Colas</button>
            </div>
        </div>
    </div>

</div>

